/**************************/
/* HEADER */
/**************************/
.section-head {
  padding: 4.8rem 0 9.6rem 0;
  box-shadow: 0 2.4rem 4.8rem rgba(0 ,0 , 0, 0.075);
  height: 9.6rem;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  height: 5.5rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.main-nav-link:link,.main-nav-link:visited {
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: #555;
  padding: 0 1rem;
}

.main-nav-list .main-cta:link {
  padding: 0.8rem 2.8rem;
}



/**************************/
/* HERO SECTION */
/**************************/

.hero-section {
  padding: 5.2rem 0 9.6rem 0;
}

.hero-text-box {
  align-self: end;
}

.heading-primary span {
  color: #4e17c3;
}

.h1-desc {
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: 0.5px;
}



.hero-cta-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
 /* padding-right: 2.4rem;*/
  
}

.hero-cta:link, .hero-cta:visited {
  font-size: 2.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0.8rem 2rem rgba(0,0,0, 0.3);
}

.watch-icon {
  color: #000;
}

.hero-text-box p:last-child {
  margin-top: 2.4rem;
  font-size: 2.2rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  align-items: center;
}

